/* starts general codes */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* ends general codes */

/* start background */

body {
display: flex;
font-family: 'Poppins', sans-serif;
justify-content: center;
align-items: center;
felx-wrap: wrap;
min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;
position: relative;
transition: 5s;

 animation-name: animate;
      animation-direction: alternate-reverse;
      animation-duration: 30s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-play-state: running;
      animation-timing-function: ease-in-out;
}

@keyframes animate {
    0% {
        background-image: url('images/beach-color-building.jpg');
    }
    20% {
        background-image: url('images/img1.jpg');
    }

    40% {
        background-image: url('images/img2.jpg');
    }

    60% {
        background-image: url('images/img3.jpg');
    }

    80% {
        background-image: url('images/img4.jpg');
    }

    100% {
        background-image: url('images/img5.jpg');
    }

}

.container-fluid{
width: 85%;
height: 550px;
color: #fff;
box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.2);
 background: linear-gradient(124deg, #e8b71d, #e3e81d, #1de840, #2b1de8, #dd00f3, #dd00f3,#ff2400, #e81d1d, #1ddde8);
animation: multi 30s ease-in-out infinite;
background-size: 1800% 1800%;
position: relative;
border-radius: 20px;
}
@keyframes multi{
0%{
background-position: 0 50%;
}
50%{
background-position: 100% 50%;
}
100%{
background-position: 0 50%;
}
}

/* end background */

/* starts front-box */
.box{
width:100%;
height: 100%;
position: relative;
}

.svg{
margin-top: 1%;
filter:contrast(200%);
}

.box h4{
text-align: center;
border: 3px dashed #fff;
padding: 10px;
font-size: 1rem;
margin-top: 2px;
letter-spacing: 5px;
}
.box h5{
border-bottom: 1px solid #fff;
text-transform: capitalize;
margin-top: 5px;
 letter-spacing: 5px;

}
.box p{
  line-height: 15px;
  margin-bottom: -1px;
  font-size: 15px;
   letter-spacing: 1px;

}
.box h3{
   border: 4px double #fff;
    padding: 10px;
    font-size: 4rem;
    letter-spacing: 5px;
    text-align: center;
}

.box .spann:before{
  content: '';
  animation: quotes 60s ease-in-out infinite;
}
@keyframes quotes{
  0%{
    content: '“Logic will get you from A to B. Imagination will take you everywhere.”'
  }
  20%{
    content: '“Success seems to be connected with action. Successful people keep moving. They make mistakes, but they don’t quit.”'
  }
  40%{
    content: '“Don’t take rest after your first victory because if you fail in second, more lips are waiting to say that your first victory was just luck.”'
  }
  60%{
    content: '"One individual may die for an idea, but that idea will, after his death, incarnate itself in a thousand lives."'
  }
  100%{
    content: '“Life loses half its interest if there is no struggle — if there are no risks to be taken.”'
  }
}

/* ends front-box */



/* start form */
.contact-form{
height: 97%;
width: 100%;
border-left: 2px dashed #fff;
margin-bottom: -20px;
}
.contact-form h1{
text-align : center;
margin-top: 10px;
margin-bottom: -5px;
text-transform: uppercase;
border-bottom: 1px solid #fff;
}
.form-inner{
padding: 30px;
}
.input-holder{
position: relative;
margin-bottom: 25px;
}
.input-feild,textarea{
width: 100%;
height: 40px;
border: none;
font-size: 14px;
border-bottom: 1px solid #fff;
background: transparent;
color: #fff;
}
textarea{
min-height: 160px;
padding: 15px 0;
}
.label{
position: absolute;
position: relative;
pointer-events: none;
transition: .2s ease all;
color: #fff;
top: -25px;
left: 5px;
}
.submit-btn{
cursor: pointer;
border-radius: 3px;
padding: 15px;
width: 100%;
box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
border: 1px solid #fff;
font-size: 20px;
background : transparent;
color: #fff;
transition: .2s ease;
}
.submit-btn:hover,
.submit-btn:focus{
box-shadow: 0 3px 6px 0 rgba(0,0.9,0.9,0.9);
outline: 0;
background : #264348;
}

input:focus,textarea:focus{
outline: 0;
border-bottom: 2px solid #fff;
}
/* input:focus ~ .label,
textarea:focus ~ .label{
top: -10px;
left: 0;
} */
.input-holder .line{
position: absolute;
bottom: 0;
display: block;
width: 100%;
height: 2px;
background: transparent;
transition: 0.5s;
border-radius: 2px;
pointer-events: none;
}
.input-holder input:focus + .label,
.input-holder input:valid + .label{
top: -25px;
left: -10px;
font-size: 12px;
}

.input-holder textarea:focus + .label,
.input-holder textarea:valid + .label{
top: -25px;
left: -10px;
}
.input-holder input:focus~ .line,
.input-holder input:valid~ .line{
height: 100%;
}
.input-holder .label{
position: absolute;
top: 0;
left: 0;
line-height: 40px;
font-size: 15px;
padding: 0 10px;
display: block;
transition: 0.5s;
pointer-events: none;
}
/* ends form */

/* starts card */

.container{
	position:relative;
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-wrap:wrap;
  color:#fff;
  margin-top: 60px;
  /* border: 2px solid #fff; */
}
.container h1{
  margin-top: -52px;
  margin-bottom: -20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bolder;
}


.price-btn{
   cursor: pointer;
    border-radius: 50px;
    padding: 10px;
    width: 100%;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
    border: 1px solid #fff;
    font-size: 20px;
    background : #232427;
    color: #fff; 
    transition: .2s ease;
    letter-spacing: 3px;
}
.price-btn:hover,
.price-btn:focus{
box-shadow: 0 3px 6px 0 rgba(0,0,0,0.5);
    outline: 0;
    background:#a52a2a;
        font-size: 22px;
}

.card{
  	width:280px;
	max-height:300px;
	border-radius:20px;
	background:transparent;
	box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.2),
             	13px 13px 26px rgba(0,0,0,0.4);
    display:table;
    margin:20px;
    cursor:pointer;
    transition:1s;
    /* border: 2px solid #fff; */
}
.card-header{
  font-size: 22px;
  margin: -3px;
  text-transform: uppercase;
  font-weight: bolder;
   letter-spacing: 3px;

}

/* ends card */

/* starts messages */

   #msg {
      width: 70%;
      padding: 15px;
      border-radius: 5px;
       transition: ease-in-out 2s;
       position: absolute;
       bottom: 10px;
       left: 10px;
    }
    

    .error-msg {
background-image: linear-gradient(to right bottom, #ff79b9, #fe5f93, #f6486a, #e7363f, #d12e0b);
      color: #fff;
      border: 1px solid #D12E0B;
         transition: ease-in-out 2s;
         width : 30% !important;
    }

    .success-msg {
background-image: linear-gradient(to right top, #f9ff6c, #effa5b, #e5f548, #daf033, #cfeb12);
      color: #2C2E03;
      border: 1px solid #2C2E03;
             transition: ease-in-out 2s;
             padding: 10px !important;
                      width : 60% !important;
                      z-index:1 !important;
    }
    #price-msg {
             width: 30%;
      padding: 8px;
      border-radius: 5px;
       transition: ease-in-out 2s;
       position: absolute;
       bottom: 10px;
       left: 10px;

    }

    .process-msg {
background-image: linear-gradient(to bottom, #ffff5b, #e5fb47, #c7f835, #a6f424, #7ef016);
      color: #2C4104;
      border: 1px solid #2C4104;
             transition: ease-in-out 2s;

    }

/* ends messages */

/* start responsinve */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 280px) and (max-device-width : 850px) {
  
 .container-fluid{
  height: 90%;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.card{
  width: 90%;
}
}


@media only screen and (min-device-width: 850px) and (max-device-height: 1024px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  
 .container-fluid{
  height: 90%;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
}
}
@media only screen and (min-device-width: 1024px) and (max-device-height: 1400px){  
 .container-fluid{
  height: 90%;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
}
}

/* end responsinve */

/* start loading */

.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display:none;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
    background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));

  background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

 .loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 150ms infinite linear;
  -moz-animation: spinner 150ms infinite linear;
  -ms-animation: spinner 150ms infinite linear;
  -o-animation: spinner 150ms infinite linear;
  animation: spinner 150ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
} 

/* Animation */

 @-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
} 

/* end loading */